body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  scroll-behavior: smooth;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
}

.logo{
  width: 75px;
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
}

.space{
  margin-left: 35%;
}

.header{
  display: flex;
  height: 100px;
  background-color: #333333;
}

.nav{
  margin-left: 10%;
  text-decoration: none;
  margin-top: 2.2%;
  font-size: 10px;
}

.flex-box{
  width: 75%;
  margin: 0 auto;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
}

.logo{
  width: 75px;
  margin-top: 10%;
  margin-left: 1%;
  margin-bottom: 1%;
}

.header{
  display: flex;
  height: 100px;
}

.nav{
  margin-left: 10%;
  text-decoration: none;
  font-family: 'Poppins';
  margin-top: 0.5%;
  font-size: 20px;
}

.space{
  margin-left: 35%;
}


body {
  font-family: 'Poppins';
}
