.cards{
  background:none;
  width: 150px;
  text-align: center;
  height: 30px;
  margin: 20px;
  border-radius: 50px;
  border: 5px solid purple;
}

.flex-box{
  width: 75%;
  margin: 0 auto;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
}

.logo{
  width: 75px;
  margin-top: 10%;
  margin-left: 1%;
  margin-bottom: 1%;
}

.header{
  display: flex;
  height: 100px;
}

.nav{
  margin-left: 10%;
  text-decoration: none;
  font-family: 'Poppins';
  margin-top: 0.5%;
  font-size: 20px;
}

.space{
  margin-left: 35%;
}

#dark-btn{
  margin-left: 12%;
}

body {
  font-family: 'Poppins';
}
