body {
  background: #F2F3F4;
  background-size: cover;
  background-attachment: fixed;
  color: #28ebde;
}

.header{
  background: rgb(219, 212, 212);
  color: #28ebde;
}

a {
  color: #28ebde;
}

.nav:hover{
  color: white;
}

.title{
  color:rgb(255, 255, 255);
}

p {
  color:#28ebde;
}

ul {
  color:#28ebde;
}

h2 {
  color:#28ebde;
}

#dark-btn {
  border-radius: 50px;
  height: 50px;
  width: 75%;
  background: none;
  color: #28ebde;
  font-size: 20px;
  font-weight: bolder;
  border: 3px solid #28ebde;
}


.card {
  background: white;
  box-shadow: 5px 5px 7px rgb(190, 180, 180);

}

.input {
  color: #28ebde;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-bottom: 2px solid #28ebde;
}

.Go-Back{
  background: none;
  color:#28ebde;
  border: 5px solid #28ebde;
}

.Go-Back:hover{
  transition-duration: 0.4s;
  background: #28ebde;
  color: white;
}

.smalltext{
  color: #28ebde;
  font-weight: bolder;
  text-align: left;
  margin-left: -109%;
}

.cards {
  color:#28ebde;
  border: 5px solid #2c9c95;

}

.go-home{
  margin-top: 2.5%;
  border: 2px solid #2c9c95;
  border-radius: 10px;
  margin-left: 1%;
  width: 180px;
  height: 28px;
  font-size: 17px;
  text-decoration: none;
  box-shadow: 3px 4px 7px rgb(190, 180, 180);
}

.home{
  text-decoration: none;
}
